<h1 class="page-header text-center"><%= @unit.name %></h1>
<div class="modify" role="group">

  <%= link_to "Add new photo", new_unit_photo_path(@unit), class: 'btn btn-info btn-xs'%>
  <%= link_to "Edit #{@unit.name}", edit_unit_path(@unit), class: "btn btn-warning btn-xs" %>
  <%= link_to "Delete #{@unit.name}", unit_path(@unit), class: "btn btn-danger btn-xs",
                                                        data: { confirm: 'Are you sure?',
                                                                method: 'delete'} %>
</div>
<div id="maps">
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=350x200&senor=false&zoom=16&markers=#{@unit.latitude}%2C#{@unit.longitude}" %>
  <p class="lead">Address: <%= @unit.full_address %> </p>
 </div>
<% if can? :modify, @unit %>
<% end %>
<h4 class='text-center'> <em> - <%= @unit.description %></em>  </h4>


<% if @unit.photos.any? %>
<h1>Photos of property</h1>
  <% @unit.photos.in_groups_of(3, false).each do |photos| %>
  <div class="row">
    <% photos.each do |photo| %>
      <div class="col-xs-12 col-md-4">
        <%= image_tag(photo.image(:medium), class: 'img-responsive') %>
      </div>
    <% end %>
  </div>
  <%end %>
<% end %>

<% if @unit.reservations.any? %>
<div class="col-md-5 col-md-offset-4">
  <h3>Future Reservations</h3>
  <table class="table-striped table-bordered table-responsive">
      <tr>
        <th>
          Reservations
        </th>
        <th>
          Check-in date:
        </th>
        <th>
          Check out-date:
        </th>
      </tr>
    <% @unit.reservations.each do |reservation| %>
      <%= link_to reservation_path(reservation) do %>
        <tr>
          <td>
            <%= reservation.id %>
          </td>
          <td class="active">
            <%= reservation.start_date %>
          </td>
          <td class="warning">
            <%= reservation.end_date %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<% else %>

<h3>No reservations have been made at this time.</h3>

<% end %>
<% if can? :create, Reservation %>
<%= link_to "Reserve this dwelling", new_unit_reservation_path(@unit) %>
<% end %>
