<h1 class="page-header text-center"><%= @unit.name %></h1>
<h4 class='text-center'> <em> - <%= @unit.description %></em>  </h4>


<h3 class="text-center">Location of Dwelling: </h3>
   <h4 class="text-center"><%= @unit.full_address %> </h4>


<% if @unit.photos.any? %>
  <% @unit.photos.in_groups_of(3, false).each do |photos| %>
  <div class="row">
    <% photos.each do |photo| %>
      <div class="col-xs-12 col-md-4">
        <%= image_tag(photo.image(:medium), class: 'img-responsive') %>
      </div>
    <% end %>
  </div>
  <%end %>
<% end %>


<p>
  <%= link_to "Add new photo", new_unit_photo_path(@unit), class: 'btn btn-secondary', id: 'add-danger' %>
</p>
